* {
  font-family: sans-serif;
  box-sizing: border-box;
  font-size: 14px;
}

.container {
  display: flex;
  justify-content: space-evenly;
}

.form1 {
  background-color: #d5fefe;
  width: 25vw;
  padding: 5px 0 0px 0;
}

.hobbies {
  width: 25vw;
}

.hobbies h2 {
  text-align: center;
  text-transform: uppercase;
  color: white;
  background-color: orangered;
  padding: 10px 0 10px 0;
  font-weight: lighter;
}

.hobbies .form-content {
  padding: 5px 10px 5px 10px;
}

.hobbies .form-content label {
  display: inline-block;
  width: 70px;
  margin-bottom: 10px;
  color: blue;
}

.hobbies .form-content .hobby-box {
  display: flex;
}

.hobbies .form-content .hobby-box p {
  width: 20%;
  color: blue;
}

.hobbies .form-content .hobby-box .check {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
}

.hobbies .form-content .hobby-box .check .hobby {
  display: inline-block;
}
.hobbies .form-content .hobby-box .check .hobby label {
  color: orange;
}

.form2 {
  background-color: beige;
  width: 30vw;
}

.form2 .reg-form .reg {
  padding: 5px;
}

.form2 .reg-form .reg .reg-form-title {
  color: blue;
  background-color: aquamarine;
  text-transform: uppercase;
  padding: 5px;
  font-weight: lighter;
}

.form2 .reg-form .reg .reg-form-content .input {
  margin-bottom: 5px;
}

.form2 .reg-form .reg .reg-form-content .input label {
  display: inline-block;
  width: 80px;
}

.form2 .reg-form .reg .reg-form-content .btn1 {
  margin-left: 84px;
}
